body {
  background-image: url("./images/body-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  font-family: "JosefinSans-Regular";
}

.contentContainer {
  overflow-y: auto;
  max-height: 90vh;
  margin-bottom: 10px;
}

.content {
  margin: 10px auto;
  width: 90%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFFFFF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF;
  cursor: pointer;
}